// レスポンシブ用
$breakpoints: (
  "tb": "screen and (max-width: 1200px)",
  "tb-s": "screen and (max-width: 900px)",
  "sm-x": "screen and (max-width: 600px)",
  "sm": "screen and (max-width: 480px)",
  "sm-s": "screen and (max-width: 340px)",
);
@mixin bq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
html {
  font-size: 20px;
}
html {
  @include bq(tb) {
    font-size: 16px;
  }
  @include bq(tb-s) {
    font-size: 14px;
  }
  @include bq(sm-x) {
    font-size: 12px;
  }
  @include bq(sm) {
    font-size: 10px;
  }
}

$margin10: 10px;
$margin20: 20px;
$margin30: 30px;
$margin40: 40px;
$margin60: 60px;
$margin80: 80px;

.ly-cont {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  color: #24292E;

  text-decoration: none;// 下線を非表示
}

img {
  object-fit: cover;// アスペクト比
  max-width: 100%;
  vertical-align: middle;// 画像下の余白を消す
}

li {
  list-style: none;// マーク非表示
}

#header {
  // 背景画像設定
  background-image: url(../img/mainvisual.jpg);
  background-repeat: no-repeat;// 背景の繰り返し設定
  background-size: cover;// 画像のサイズ指定
  background-position: center;// 背景の位置指定
  height: 600px;

  margin-bottom: $margin20;

  .site-title {
    // 位置設定
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

main {
  .sub-title {
    // 文字設定
    color: #24292E;
    font-size: 1.2rem;
    font-weight: bold;

    // 余白設定
    padding-top: 60px;
    padding-bottom: $margin20;
  }

  .sub-title-content {
    // 文字設定
    font-size: 0.7rem;
  }
}

#magazine {
  // 位置設定
  text-align: center;

  // 余白設定
  margin-bottom: $margin80;

  .magazine-item {
    // 位置設定
    display: flex;
    justify-content: space-between;

    // 余白設定
    margin-top: $margin40;

    .magazine-item-group {
      // 位置設定
      position: relative;
      width: 48%;
    }

    .magazine-info {
      // 背景画像
      background-color: #70707080;

      // 文字設定
      color: #FFFFFF;

      // 画像中央に文字を表示
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      // 余白設定
      padding: 15px 0;

      width: 290%;
      max-width: 100%;

      .magazine-title {
        // 文字設定
        font-size: 1rem;
        font-weight: bold;

        // 余白設定
        padding-bottom: 2px;
      }

      .magazine-content {
        // 文字設定
        font-size: 0.7rem;
      }
    }
  }
}

#fashion {
  // 背景画像設定
  height: 520px;
  background-image: url(../img/fashion.jpg);
  background-repeat: no-repeat;// 背景の繰り返し設定
  background-size: cover;// 画像のサイズ指定
  background-position: center;// 背景の位置指定

  padding-top: 60px;
  margin-bottom: $margin80;

  // .fashion-itemで画像上に文字を表示
  position: relative;

  .fashion-item {
    // 画像上に文字を表示
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);

    // 位置設定
    text-align: center;

    .read-btn {
      // 文字設定＆枠設定
      font-size: 0.6rem;
      border: solid 1px #2A2A2A;

      // 位置設定
      display: inline-block;

      // 余白設定
      margin-top: $margin30;
      padding: 13px 35px;
    }
  }
}

.catalog-antique {
  // 背景
  background-color: #F5F5F5;

  .catalog-group {
    // 位置設定
    display: flex;
    justify-content: space-between;
    align-items: center;

    // 余白設定
    padding: 60px 0;

    .catalog-item {
      // 位置設定
      text-align: center;
      width: 48%;

      p {
        padding-bottom: 30px;
      }
    }
  }
}

#footer {
  background-color: #333333;

  .footer-group {
    // 文字設定
    color: #FFFFFF;
    line-height: 2;

    // 位置設定
    display: flex;
    align-items: center;
    justify-content: space-between;

    // 余白設定
    padding: 100px 0;

    .footer-item {
      // width: calc(100% / 3);

      .footer-title {
        // 文字設定
        font-weight: bold;
        font-size: 0.8rem;

        // 余白設定
        margin-bottom: $margin10;
      }

      p {
        // 文字設定
        font-size: 0.6rem;
      }

      li {
        // 文字設定
        font-size: 0.6rem;
      }

      li:before {
        content: '-';
        margin-right: 5px;
      }
    }
  }

  #copyright {
    // 背景
    background-color: #FFFFFF;

    // 文字設定
    font-size: 0.6rem;

    // 位置設定
    text-align: center;

    // 余白設定
    padding: 30px 0;
  }
}
